.header{
    height: 60px;
    background-color: #ffffff;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    width: 980px;
    margin: 0 auto;
    padding: 5px;
}
.logo{
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.menu-item{
    float: left;
    margin-right: 10px;
    padding: 8px;
    font-size: 15px;
    color: #000000;
}
