.lecture_background{
    width: 100%;
    height: 100%;
}

.lecture_search_div{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}


* {
    box-sizing: border-box;
}

    .lecture_grid-init {
        width: 90%;
      margin: auto;
      margin-top: 50px;
      padding: 10px;
    }

    .box-init {
      font-size: larger;
      color: #000000;
      padding: 10px;

      /*display: flex;
      align-items: center;
      justify-content: center;
      */
    }

.grid{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.box_init_img{
    width: 100%;
    height: 180px;
    border-radius: 5px;
    background-color: #2196f3;
    border: 1px solid black;
}
.box_init_div_id{
    font-size: 10px;
}
.box_init_div_title{
    font-size: 10px;
}
.box_init_div_time{
    font-size: 10px;
}

.lecture_regist_btn_div{
    position: absolute;
    top: 100px;
    left: 90%;
}

.lecture_sort_btn_div{
    position: absolute;
    top: 100px;
    left: 70%;
}


.box_init_div_title{
  font-size: 15px;
}


.box_init_div_time{
  font-size: 15px;
}


.box_init_div_time{
  font-size: 15px;
}

.w150{
  position : absolute;
  width : 100px;
  left : 20%;
  top: 105px;
}

.w151{
  position : absolute;
  width : 100px;
  left : 30%;
  top: 105px;
}
