.main_page{
  width: 90%;
  margin: 10px auto;
  display: flex;
}

.main_title{
  font-size: 20px;
  font-weight: bold;
}

.lecture{
  margin: 20px;
}

.main_lecture_div{
  width: 450px;
  height: 450px;
  margin: auto;
  display: block;
}

.rmc{
  margin: 20px;
}

.main_rmc_div{
  width: 450px;
  height: 450px;
  margin: auto;
  display: block;
}

.mypage{
  margin: 20px;
}

.main_mypage_div{
  width: 450px;
  height: 450px;
  margin: auto;
  display: block;
}

