.mypage_background{
    height: 60px;
    background-color: #ffffff;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
}
.sidebar{
    position: absolute;
    margin: 100px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.sidebar_userinfo{
    display: flex;
}
.menu_list{
    list-style: none;
    padding-left:0px;
}
.main_common{
    position: absolute;
    margin: 200px;
    float: left;
    padding: 8px;
    font-size: 15px;
    color: #000000;
}
.learning{
  margin-top: 20px;
}
.learning_box_mento{
    display: block;
    width: 100%;
    height: 110px;
    overflow-y:scroll;
    border: 30px;
    border-radius: 5px;
    background-color: #e9e9e9;
    color: rgba(20, 20, 20, 0.788);
}

.learned{
    margin-top: 50px;;
}

.learned_box{
    display: block;
    min-height: 30px;
    width: 100%;
    background-color: #e9e9e9;
    color: rgba(20, 20, 20, 0.788);
}

.learning_table{
    width: 100%;
}

.learning_table_num_td{
}

.learning_table_title_td{

}

.learning_table_date_td{

}

.learning_table_button{

}
