.mypage_background{
    height: 60px;
    background-color: #ffffff;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container{
    display: flex;
}
.sidebar{
    position: absolute;
    margin: 100px;
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}
.sidebar_userinfo{
    display: flex;
}
.menu_list{
    list-style: none;
    padding-left:0px;
}